source/Lib/EncoderLib/s0_HORZ_SPLIT.h
source/Lib/EncoderLib/s1_HORZ_SPLIT.h
source/Lib/EncoderLib/s2_HORZ_SPLIT.h
source/Lib/EncoderLib/s3_HORZ_SPLIT.h
source/Lib/EncoderLib/s4_HORZ_SPLIT.h
source/Lib/EncoderLib/s5_HORZ_SPLIT.h
source/Lib/EncoderLib/s6_HORZ_SPLIT.h
source/Lib/EncoderLib/s0_HORZ_SPLIT.cpp
source/Lib/EncoderLib/s1_HORZ_SPLIT.cpp
source/Lib/EncoderLib/s2_HORZ_SPLIT.cpp
source/Lib/EncoderLib/s3_HORZ_SPLIT.cpp
source/Lib/EncoderLib/s4_HORZ_SPLIT.cpp
source/Lib/EncoderLib/s5_HORZ_SPLIT.cpp
source/Lib/EncoderLib/s6_HORZ_SPLIT.cpp

source/Lib/EncoderLib/s0_VERT_SPLIT.h
source/Lib/EncoderLib/s1_VERT_SPLIT.h
source/Lib/EncoderLib/s2_VERT_SPLIT.h
source/Lib/EncoderLib/s3_VERT_SPLIT.h
source/Lib/EncoderLib/s4_VERT_SPLIT.h
source/Lib/EncoderLib/s5_VERT_SPLIT.h
source/Lib/EncoderLib/s6_VERT_SPLIT.h
source/Lib/EncoderLib/s0_VERT_SPLIT.cpp
source/Lib/EncoderLib/s1_VERT_SPLIT.cpp
source/Lib/EncoderLib/s2_VERT_SPLIT.cpp
source/Lib/EncoderLib/s3_VERT_SPLIT.cpp
source/Lib/EncoderLib/s4_VERT_SPLIT.cpp
source/Lib/EncoderLib/s5_VERT_SPLIT.cpp
source/Lib/EncoderLib/s6_VERT_SPLIT.cpp

source/Lib/EncoderLib/s0_QT_SPLIT.h
source/Lib/EncoderLib/s1_QT_SPLIT.h
source/Lib/EncoderLib/s2_QT_SPLIT.h
source/Lib/EncoderLib/s3_QT_SPLIT.h
source/Lib/EncoderLib/s4_QT_SPLIT.h
source/Lib/EncoderLib/s5_QT_SPLIT.h
source/Lib/EncoderLib/s6_QT_SPLIT.h
source/Lib/EncoderLib/s0_QT_SPLIT.cpp
source/Lib/EncoderLib/s1_QT_SPLIT.cpp
source/Lib/EncoderLib/s2_QT_SPLIT.cpp
source/Lib/EncoderLib/s3_QT_SPLIT.cpp
source/Lib/EncoderLib/s4_QT_SPLIT.cpp
source/Lib/EncoderLib/s5_QT_SPLIT.cpp
source/Lib/EncoderLib/s6_QT_SPLIT.cpp


dec.yuv
rec.yuv
str.bin
/build/
/bin/
/lib/
core
deploy
*.sdf
*.suo
.vs/
.vscode/
*.blg
*.bbl
*.pyc
/out/
/doc/_minted-software-manual/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Criados apos build
bin/
build/
cmake/CMakeBuild/bin/pyhhi/
out_VTM/
VTM-9.0-ML/
myCFGs/
video_bin/
features/
pixel/

# Outros arquivos
*.yuv
*.str
*.csv
*.bin
